<section class="row">

    <div class="col-sm-12 newPost">

        <form class="col-sm-12" name="postForm" novalidate ng-submit="$ctrl.createPost()">
            <div>
                <label>Title<input class="form-control" type="text" name="title" ng-model="$ctrl.newPost.title" ng-minLength="5" ng-maxLength="30" required/></label>
                <div ng-messages="postForm.title.$error" ng-show="postForm.title.$dirty" style="color:maroon" role="alert">
                    <div ng-message="required">You did not enter a field</div>
                    <div ng-message="minlength">Your Title is too short</div>
                    <div ng-message="maxlength">Your Title is too long</div>
                </div>
            </div>
            <div>

                <label>Body<textarea class="form-control" type="text" name="body" ng-model="$ctrl.newPost.body" required ng-minLength="10" ng-maxLength="500"></textarea></label>
                <div ng-messages="postForm.body.$error" ng-show="postForm.body.$dirty" style="color:maroon" role="alert">
                    <div ng-message="required">You did not enter a field</div>
                    <div ng-message="minlength">Your Body is too short</div>
                    <div ng-message="maxlength">Your Body is too long</div>
                </div>
            </div>
            <div>

                <label>Author<input class="form-control" type="text" name="author" ng-model="$ctrl.newPost.author" ng-minLength="3" ng-maxLength="50" required/></label>
                <div ng-messages="postForm.author.$error" ng-show="postForm.author.$dirty" style="color:maroon" role="alert">
                    <div ng-message="required">You did not enter a field</div>
                    <div ng-message="minlength">Author name is too Short</div>
                    <div ng-message="maxlength">Author Name is too long</div>
                </div>
            </div>
            <div>
                <label>Image URL<input class="form-control" type="url" name='image_url' ng-model="$ctrl.newPost.image_url"/ required></label>
                <div ng-messages="postForm.image_url.$error" ng-show="postForm.image_url.$dirty" style="color:maroon" role="alert">
                    <div ng-message="required">You did not enter a field</div>
                    <div ng-message="url">You need to enter a URL</div>
                </div>
            </div>
            <div class="form-group">
                <button ng-disabled="$ctrl.postForm.$invalid" type="submit" class="btn btn-primary">
          Create Post
        </button>
            </div>
        </form>

    </div>
</section>
