.media-object {
  max-width: 200px;
}

[ng-click] {
  cursor: pointer;
}

.search-form {
  margin-top: 4px;
}

main.container {
  margin-bottom: 4em;
}

h2 {
  font-size: 1.5em;
}
.card-image {
  width: 20%;


}

#searchText{
  margin-bottom: 10%;

}

.newPost {
  display: block;




}
